<template name="configureLoginServiceDialogForOneDrive">
  <p>
    First, you'll need to Create a OneDrive App. Follow these steps:
  </p>
  <ol>
    <li>
      Visit <a href="https://account.live.com/developers/applications/create" target="_blank">https://account.live.com/developers/applications/create/</a>
    </li>
    <li>
      "Create Application", and Entering your applications name, click 'Accept'.
    </li>
    <li>
      On next page, left sidebar , go to 'API Settings', and
    </li>
    <li>
      Set Redirect URI to: <span class="url">{{siteUrl}}_oauth/onedrive</span>
    </li>
    <li>
      On the left sidebar, go to 'APP Settings' and you will see your apps "Client ID" and "Client secret".
    </li>
  </ol>
</template>
